body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav button {
  margin-left: 10px;
  background: none;
  border: none;
  color: #94a3b8;
  cursor: pointer;
  font-size: 16px;
}

nav button:hover {
  color: white;
}

/* PAGES */
.page {
  display: none;
  padding: 40px;
}

.page.active {
  display: block;
}

/* CARDS */
.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

.card span {
  display: block;
  margin-top: 10px;
  color: #38bdf8;
}